body{
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}

header {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: xx-large;
}

#cta {
    position: relative;
    top: 200px;
    text-align: center;
    color: white;
}

.main {
    color: white;
}

.socails {
    position: relative;
    top: 350px;
    text-align: center;
}

.fa-brands {
    color: white;
    font-size: xx-large;
    padding: 15px;

}

 #line{
    color: white !important;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.nav-brand {
    position: fixed;
    top: 10px;
}

#logo {
    padding: 10px;
    width: 60px;
    height: auto;
}